@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url('/fonts/Montserrat-Medium.ttf');
}

body {
    font-family: Montserrat, sans-serif;
}

.container {
    width: 100%;
    max-width: 1904px;
    margin: 0 auto;
}

header {
    height: 1012px;
    background: url("../images/first-bg.png");
    margin: 0 auto;
}

.header-strike {
    height: 120px;
    background: rgba(67, 64, 50, 0.5);
}

.header-content {
    width: 1160px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

nav {
    line-height: 120px;
    vertical-align: middle;
    margin-left: auto;
}

.menu {
    text-decoration: none;
    font-size: 13px;
    color: #B6B6B5;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 20px;

}

.menu.active {
    color: #18cfab;
    position: relative;
}

.menu.active::after {
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    top:69px;
    border-bottom: 2px solid #18CFAB;
}


.menu:hover {
    color: #18cfab;
    position: relative;
}
.menu:hover::after {
    content:'';
    position:absolute;
    width: 100%;
    height: 0;
    left:0;
    top:69px;
    border-bottom: 2px solid #18CFAB;
}

.first-screen {
    text-align: center;
    margin: 0 auto;
    padding-top: 200px;
    vertical-align: middle;
    width: 1160px;
    height: 400px;
}

h2 {
    font-size: 35px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.greentext {
    color: #18CFAB;
}

h1 {
    font-size: 70px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.third-line {
    font-size: 30px;
    text-transform: capitalize;
    color: white;
    font-weight: lighter;
    padding-bottom: 75px;
}

.greenbutton {
    width: 166px;
    height: 61px;
    background-color: #18CFAB;
    text-transform: uppercase;
    font-size: 13px;
    border-top: 4px solid #ffffff;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin: 10px;
    cursor:pointer;
}

.greenbutton:hover {
    background-color: #18e6c2;
}


.bluebutton {
    width: 166px;
    height: 61px;
    background-color: #00cbf6;
    text-transform: uppercase;
    font-size: 13px;
    border-top: 4px solid #ffffff;
    border-right: none;
    border-bottom: none;
    border-left: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
}

.bluebutton:hover {
    background-color: #00bfea;
}

.features {
    display: flex;
}

.darkbluerect {
    width: 480px;
    height: 374px;
    background-color: #1c2a33;
    border-top: 7px solid #18cfab;
    color: #18cfab;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.rect-text {
    margin-top: 30px;
}

.rectimg {
    margin-top: 88px;
}

.greenrectimg {
    margin-top: 109px;
}

.greenrect {
    width: 480px;
    height: 374px;
    background-color: #18cfab;
    border-top: 7px solid white;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}

.our-services {
    width: 1160px;
    margin: 0 auto;
    padding-top: 82px;
}

.line1 {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin: 0 auto;
}

.line2 {
    width: 76px;
    height: 1px;
    background-color: #18cfab;
    margin: 3px 550px;

}

h3 {
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
}

.inform {
    height: 200px;
}

.tabs {
    display: flex;
    padding-top: 30px;
}

.tab {
    width: 193px;
    height: 73px;
    background-color: #f8fcfe;
    color: #8c8d8d;
    font-size: 16px;
    text-align: center;
    line-height: 73px;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    margin-left: -1px;
    cursor: pointer;
}

.tab:hover {
    cursor: pointer;
    background-color: #f2f6f8;
    color: #6d6e6e;

}

.tab.active {
    background-color: #18cfab;
    color: white;
    position: relative;
    display: block;

}

.tab.active::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 13px 12px 0 12px;
    border-color: #18cfaa transparent transparent transparent;
    position: absolute;
    left: 80px;
    top: 72px;
}

.tab-content {
    display: none;
    margin-top: 30px;
}

.tab-content.active {
    display: flex;
}

.article-text {
    font-size: 14px;
    color: #777777;
    text-align: justify;
    margin-left: 10px;
    line-height: 1.8;
}

.purchase-part {
    background-image: url("../images/everything-is-ready-bg.png");
    height: 477px;
    text-align: center;
    margin-top: 70px;
}

.everythingisready {
    padding-top: 150px;
    color: #18cfab;
}

.small-text {
    color: white;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 50px;
    line-height: 1.5;
}

.our-amazing-work {
    width: 1160px;
    margin: 0 auto;
    text-align: center;
    padding-top: 82px;
}

.tabs2 {
    display: flex;
    padding-top: 30px;
    padding-bottom: 50px;
    justify-content: center;

}

.tab2 {
    width: 128px;
    height: 59px;
    background-color: white;
    color: #8c8d8d;
    font-size: 14px;
    text-align: center;
    line-height: 59px;
    vertical-align: middle;
    border: 1px solid #ebebeb;
    margin-left: -1px;
}

.tab2.active {
    height: 56px;
    color: #18cfab;
    border-top: 3px solid #18cfab;
}

.tab2:hover {
    cursor: pointer;
    background-color: #f9f9f9;
    color: #6e6f6f;

}

.gallery  {
    display: flex;
    flex-wrap: wrap;
    width: 1160px;
    margin-bottom: 50px;
}

.cover {
    display: none;
    width: 284px;
    height: 205px;
    background-color: white;
    position: absolute;
    left: 0;
    right: 0;
}

.content-inside {
    margin-top: 40px;
}

.all {
    width: 284px;
    height: 205px;
    position: relative;
    cursor: pointer;
}

.all:hover .cover{
    display: block;
}

.whitebg {
    border-top: none;
    height: 57px;

}

.breaking-news {
    width: 1160px;
    margin: 0 auto;
    padding-top: 82px;
}

.breaking-news-cards {
    text-decoration: none;
}

.news-date   {
    padding-top: 14px;
    right: 0;
    line-height: 0.8;
    text-align: center;
    position: absolute;
    font-weight: lighter;
    font-size: 16px;
    background-color: #203E38;
    color: #fff;
    height: 52px;
    width: 68px;
}


.blocks {
    display: flex;
    flex-wrap: wrap;
    padding-top: 52px;
}

.block {
    width: 264px;
    height: 280px;
    background-color: #f8fcfe;
    border: 1px solid #f4f4f4;
    margin: 12px;
    position: relative;
}

.block:hover {
    background-color: #f0f4f6;
}

.block:hover .news-date {
    background-color: #18cfab;
}

.block-header {
    color: #717171;
    font-size: 18px;
    font-weight: bold;
    margin-left: 14px;
    padding-top: 12px;
}

.block-text {
    color: #717171;
    font-size: 14px;
    margin-left: 14px;
    padding-top: 10px;
}

.people-say {
    background-image: url("../images/what-people-say/bg.png");
    height: 852px;
    text-align: center;
    margin-top: 50px;
}

.people-say-content {
    width: 1160px;
    margin: 0 auto;
}

.white-h3 {
    text-transform: capitalize;
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
    color: white;
    padding-top: 140px;
}

.quotes {
    padding-top: 40px;
    padding-bottom: 15px;
}

.name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #18cfab;
    padding-bottom: 12px;
}

.position {
    color: #cecece;
    font-size: 12px;
}

.slick {
    top: 400px;
    left: 500px;
    width: 500px;
    height: 300px;
    margin: 20px auto;
}
.slider-nav .slick-item {
    margin-right: 80px;
}

.focused-item img {
    margin: 20px auto;

}

.gallery-of-best-images {
    padding-top: 70px;
    margin: 0 auto;
    width: 1160px;
    text-align: center;
}

.images-gallery {
    display: flex;
    height: 921px;
    width: 1160px;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 70px;
    padding-bottom: 40px;
}


.couple {
    display: flex;
    flex-direction: row;
    margin-left: 9px;
}

.img {
    margin: 3px;
}

footer {
    height: 108px;
    background-color: #22353f;
    color: #eeeeee;
    font-size: 14px;
    font-weight: lighter;
    line-height: 108px;
    vertical-align: center;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 45px;

}